<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Site.master.cs" Inherits="RedLine.Web.SiteMaster" %>

<!DOCTYPE html>
<html lang="es">
<head runat="server">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%: Page.Title %> - RedLine Customs</title>

    <link href="~/Content/Master.css?v=1.1" rel="stylesheet" runat="server" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />
</head>
<body>
    <form runat="server">

        <asp:ScriptManager ID="smGlobal" runat="server" AjaxFrameworkMode="Disabled" EnableCdn="false"></asp:ScriptManager>

        <header class="cabecera-principal">
            <a runat="server" href="~/Catalogo" class="texto-logo-nav">
                REDLINE<span>CUSTOMS</span>
            </a>
            <nav class="contenedor-navegacion">
    
    <a runat="server" href="~/Catalogo" class="boton-menu boton-texto-simple">
        <img src="<%= ResolveUrl("~/Content/img/lupita.png") %>" alt="Inicio" />
        Inicio
    </a>

    <div id="menuTallerVentas" runat="server" class="dropdown-menu-container">
        <button type="button" class="boton-menu boton-texto-simple dropdown-toggle">
            Taller y Ventas
        </button>
        <div class="dropdown-content">
            <a runat="server" href="~/CrearAuto.aspx">Crear Auto</a>
            <a runat="server" href="~/personalizarAuto.aspx">Personalizar Auto</a>
            <a id="lnkInventario" runat="server" href="~/Inventario.aspx">Inventario</a>
            <a runat="server" href="~/HistorialVentas.aspx">Historial de Ventas</a>
        </div>
    </div>

    <div id="menuGestionABM" runat="server" class="dropdown-menu-container">
        <button type="button" class="boton-menu boton-texto-simple dropdown-toggle">
            Gestión ABM
        </button>
        <div class="dropdown-content">
            <a id="lnkGestionUsuarios" runat="server" href="~/GestionUsuarios.aspx">Gestión Usuarios</a>
            <a id="lnkGestionClientes" runat="server" href="~/GestionClientes.aspx">Gestión Clientes</a>
            <a id="lnkGestionEventos" runat="server" href="~/GestionEventos.aspx">Gestión Eventos</a>
        </div>
    </div>

    <div id="menuSistema" runat="server" class="dropdown-menu-container">
        <button type="button" class="boton-menu boton-texto-simple dropdown-toggle">
            Sistema
        </button>
        <div class="dropdown-content">
            <a id="lnkGestionPermisos" runat="server" href="~/Gestion_Perfiles_Permisos.aspx">Gestión de Permisos</a>
            <a id="lnkBackupRestore" runat="server" href="~/BackupRestore.aspx">Backup & Restore</a>
            <a id="lnkDigitoVerificador" runat="server" href="#!">Dígito Verificador</a>
        </div>
    </div>

    <div class="dropdown-menu-container alinear-derecha">
        <button type="button" class="boton-menu boton-solido-rojo dropdown-toggle">
            <asp:Literal ID="litNombreUsuario" runat="server" Text="Mi Cuenta"></asp:Literal>
        </button>
        <div class="dropdown-content">
            <a runat="server" href="~/RegistroCliente.aspx" id="lnkRegistrarse">Registrarse</a>
            <a runat="server" href="~/LogIn.aspx" id="lnkLogin">Iniciar Sesión</a>
            <a runat="server" href="~/CambioContraseña.aspx" id="lnkCambioPass">Cambiar Contraseña</a>
            <a runat="server" href="~/Logout.aspx" id="lnkLogout">Cerrar Sesión</a>
        </div>
    </div>

</nav>
        </header>

        <main class="contenedor-principal">

            <asp:ContentPlaceHolder ID="MainContent" runat="server"> </asp:ContentPlaceHolder>
            
            <footer class="pie-pagina">
                <p>&copy; 2026 - RedLine Customs</p>
            </footer>
        </main>

    </form>
</body>
</html>