.contenedor-busqueda {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5%;
    margin-top: 20px;
    gap: 15px;
    flex-wrap: wrap;
}

.contenedor-catalogo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px 5%;
}

.divsRojosGradiente {
    background: linear-gradient(to right, rgba(255, 0, 0, 0.1), black);
    border: 1px solid #3B0901;
    width: 100%;
    padding: 10px;
    margin: 0;
}

.titulo {
    font-size: 42px;
    color: #D93416;
    margin: 20px;
}

.subTitulo {
    font-size: 22px;
    color: darkgray;
    margin: 10px 20px 30px 20px;
}

.buscador {
    display: flex;
    align-items: center;
    background: #161D29;
    flex: 1;
    min-width: 280px;
    border: 1px solid darkgray;
    border-radius: 8px;
    padding: 6px;
}

.icono {
    width: 20px;
    height: 20px;
    margin-right: 7px;
    flex-shrink: 0;
}

.inputBarraBusqueda {
    background: #161D29;
    border: 0px;
    color: #D93416;
    width: 100%;
    outline: none;
}

.textoEncontrados {
    font-size: 16px;
    color: darkgray;
    margin-left: 5.2%;
    margin-top: 0.7%;
}

.filtros {
    display: flex;
    gap: 10px;
    min-width: 250px;
}

.filtro, .btnFiltro {
    padding: 6px 12px;
    border: 1px solid darkgray;
    border-radius: 8px;
    background: #161D29;
    color: darkgray;
}

.auto {
    border: 2px solid darkgray;
    border-radius: 12px;
    width: 25%;
    min-width: 260px;
    max-width: 300px;
    text-align: center;
    overflow: hidden;
    background: #0F141C;
    display: flex;
    flex-direction: column;
}

.fotoAuto {
    margin: 0;
    display: block;
    object-fit: cover;
    width: 100%;
    height: 180px;
}

.marca {
    font-size: 1.0rem;
    color: darkgray;
    margin-top: 5px;
}

.modelo {
    font-weight: bold;
    font-size: 1.7rem;
    color: white;
}

.anio {
    font-size: 1.0rem;
    color: #696969;
}

.datos {
    display: flex;
    justify-content: center;
    gap: 5px;
    margin: 10px 0;
}

.datosAuto {
    background: #01010F;
    border-radius: 6px;
    padding: 6px;
    font-size: 0.8rem;
    flex: 1;
    color: white;
}

.lblDatosAuto {
    margin-bottom: 2px;
    color: darkgray;
    font-size: 0.75rem;
}

.precio {
    color: #D93416;
    font-size: 1.3rem;
    margin-top: 7px;
    margin-bottom: 10px;
}

.botonBajo {
    background: red;
    display: block;
    width: 100%;
    padding: 10px 0;
    text-decoration: none;
    color: white;
    margin-top: auto;
}
